{%- comment -%}
  Parameters:
  - results {Object} - Results object (collection or search).

  Usage:
  {% render 'products-toolbar', results: collection %}
{%- endcomment -%}
{%- liquid
  assign sort_or_filters_visible = false
  if section.settings.enable_filtering or section.settings.enable_sorting
    assign sort_or_filters_visible = true
  endif

  assign filters_enabled = section.settings.enable_filtering
  if results.filters == empty
    assign filters_enabled = false
  endif
%}
<products-toolbar class="products-toolbar flex items-center mb-8{% if settings.enable_compare and settings.compare_toggle != "none" %} products-toolbar--compare{% endif %} no-js-hidden" id="products-toolbar">
  {%- if filters_enabled -%}
    <div class="products-toolbar__filter">
      <button type="button" class="products-toolbar__filter-btn flex justify-between items-center text-current font-bold {% if section.settings.filters_open_lg %}is-active {% endif %}js-toggle-filters" aria-controls="facet-filters" aria-expanded="false">
        <span class="hidden md:block">{{ 'products.filtering.filter' | t }}</span>
        {%- if section.settings.enable_sorting -%}
          <span class="md:hidden">{{ 'products.filtering.filter_sort' | t }}</span>
        {%- else -%}
          <span class="md:hidden">{{ 'products.filtering.filter' | t }}</span>
        {%- endif -%}
        {% render 'icon-filter' %}
      </button>
    </div>
  {%- endif -%}

  {%- if section.settings.enable_sorting -%}
    <div class="products-toolbar__sort{% if filters_enabled %} hidden md:block{% endif %}">
      {%- liquid
        assign sort_by = results.sort_by | default: results.default_sort_by
        assign option_names = ''
        assign option_values = ''
        for option in results.sort_options
          if section.settings.sort_show_featured == false and option.value == 'manual' and collection.default_sort_by != 'manual'
            continue
          endif
          if section.settings.sort_show_best == false and option.value == 'best-selling' and collection.default_sort_by != 'best-selling'
            continue
          endif
          if section.settings.sort_show_alpha == false and option.value == 'title-ascending' and collection.default_sort_by != 'title-ascending'
            continue
          endif
          if section.settings.sort_show_alpha == false and option.value == 'title-descending' and collection.default_sort_by != 'title-descending'
            continue
          endif
          if section.settings.sort_show_price == false and option.value == 'price-ascending' and collection.default_sort_by != 'price-ascending'
            continue
          endif
          if section.settings.sort_show_price == false and option.value == 'price-descending' and collection.default_sort_by != 'price-descending'
            continue
          endif
          if section.settings.sort_show_date == false and option.value == 'created-ascending' and collection.default_sort_by != 'created-ascending'
            continue
          endif
          if section.settings.sort_show_date == false and option.value == 'created-descending' and collection.default_sort_by != 'created-descending'
            continue
          endif

          assign option_names = option_names | append: option.name
          assign option_values = option_values | append: option.value
          unless forloop.last
            assign option_names = option_names | append: '|'
            assign option_values = option_values | append: '|'
          endunless
        endfor
        assign option_names = option_names | split: '|'
        assign option_values = option_values | split: '|'
        assign label = 'products.sorting.sort_by_label' | t
      -%}

      {% render 'custom-select',
        id: 'products-sort-by',
        label: label,
        native_name: 'sort_by',
        native_form_id: 'facets',
        selected_value: sort_by,
        option_names: option_names,
        option_values: option_values
      %}
    </div>
    <script src="{{ 'custom-select.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- if settings.enable_compare and settings.compare_toggle != "none" -%}
    <div class="products-toolbar__compare end">
      <input type="checkbox" class="switch" id="compare-switch" {% if settings.compare_toggle == "toggle_on" %}checked="checked"{% endif %}>
      <label for="compare-switch">{{ 'products.compare.switch_label' | t }}</label>
    </div>
  {%- endif -%}

  {%- comment -%}Layout toggle removed - not needed for Dawn integration{%- endcomment -%}
</products-toolbar>

<hr class="js-hidden">
